{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="https://alis-tech.com/" target="_blank">
    <img src="{% static 'logo/logo.png' %}" alt="Logo">
  </a>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            {% if language.code == LANGUAGE_CODE %}
              {{ language.name_local }}
            {% endif %}
          {% endfor %}
        </a>
        <div class="dropdown-menu" aria-labelledby="languageDropdown">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <a class="dropdown-item"
               href="{% url 'set_language' %}?next={{ request.get_full_path }}&language={{ language.code }}">
              {{ language.name_local }} ({{ language.code }})
            </a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-link">
            {{ user.email }}<br>
          </li>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Logout</button>
          </form>
        {% else %}
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Sign in</button>
          </form>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
