body {
    margin: 0;
    background-color: #eee;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 1000;
}

.top-bar .navbar-brand {
    color: #555;
    font-size: 24px;
    font-weight: bold;
}

.top-bar .navbar-nav .nav-link{
    color: #777;
    font-size: 18px;

}

main {
    padding-top: 60px;

}

#scrollToTopBtn {
    position: fixed;!important;
    bottom: 70px;!important;
    right: 240px;!important;
    display: none;!important;
    background-color: #48bcef;!important;
    color: #fff;!important;
    border: none;!important;
    border-radius: 8px;!important;
    padding: 15px;!important;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;!important;
}

.sidebar_nav {
    padding: 0;
    list-style: none;
}

.header {
    text-align: center;
}

.col-sm-3 {
    background-color: #ddd;
}

.col-sm-2 {
    background-color: #ddd;
}

.footer {
    color: #ccc;
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.page-item {
  margin: 0 5px;
}

.page-item-active {

    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.window {
    margin-top: 20px;
    background-color: #eee; /* Колір фону */
    border: 5px solid #ddd; /* Рамка */
    padding: 20px; /* Відступи всередині вікна */
    margin-bottom: 20px; /* Відступ між вікнами */
    height: 300px; /* Висота вікна */
}

/* Стилі для заголовків вікон (необов'язково) */
.window h2 {
    font-size: 18px; /* Розмір шрифту */
    margin-bottom: 10px; /* Відступ від нижнього краю заголовка */
    color: #333; /* Колір тексту */
}

/* Стилі для тексту вікон (необов'язково) */
.window p {
    font-size: 14px; /* Розмір шрифту */
    line-height: 1.5; /* Висота рядка */
    color: #666; /* Колір тексту */
}

.calendar-container {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  grid-template-rows: 50px repeat(24, 1fr);
  gap: 1px;
}

.calendar-header, .calendar-body {
  display: contents;
}

.header-cell, .time-cell, .calendar-cell {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #fff;
}

.header-cell {
  background-color: #f5f5f5;
  text-align: center;
  font-weight: bold;
}

.time-cell {
  background-color: #f5f5f5;
  text-align: center;
}

.calendar-cell {
  min-height: 50px;
  cursor: pointer;
}

.calendar-cell .event {
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 2px;
  margin: 2px 0;
}

.empty-cell {
  background-color: #f5f5f5;
}